body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input {
  width: 100%;
}
.card {
  display: grid;
  place-items: start;
}
.card__title,
.card__img {
  grid-area: 1/ 1;
}
.card__img {
  width: 100%;
}
.card__title {
  z-index: 1;
  color: white;
  padding: 0.6em 1.2em;
  background-color: black;
  margin: 0;
  align-self: start;
}
.houseContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
.teamItem {
  display: flex;
  flex-direction: column;
}
.team__ocupation {
  color: darkgray;
}
.team__title,
.team__ocupation {
  margin: 0.7em 0;
}
.blackBtn {
  background-color: black;
  color: white;
  width: fit-content;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .houseContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .houseContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
